<img src="assets/img/logo-angular.png">
<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/login">login </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/products">Product </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/productForm">add Product </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Not Found</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>

<app-products></app-products>
<app-todo-list></app-todo-list>
<app-fetch-user></app-fetch-user>
<app-parent></app-parent>




